<div id="content_box">
  <%= render "welcome_content" %>
  <%= render "mission_statement_content" %>
  <%= render "about_our_school_content" %>
  <%= render "history_content" %>
  <%= render "cooperative_content" %>
  <%= render "family_involvement_content" %>
  <%= render "philosophy_content" %>
  <%= render "curriculum_content" %>
  <%= render "classes_content" %>
  <%= render "staff_content" %>
  <%= render "calendar_content" %>
  <%= render "faq_content" %>
  <%= render "enrollment_overview_content" %>
  <%= render "tuition_content" %>
  <%= render "donations_content" %>
  <%= render "fundraising_content" %>
  <%= render "merchandise_content" %>
  <%= render "about_cph_sale_content" %>
  <%= render "sale_calendar_content" %>
  <%= render "consignment_content" %>
  <%= render "directions_content" %>
  <%= render "salelist_content" %>
  <%= render "contact_content" %>
  <%= render "login_content" %>
  <%= render "email_subscribe_content" %>
  <%= render "email_goodbye_content" %>
  <%= render "email_already_content" %>
  <%= render "email_not_content" %>
  <%= render "email_bad_content" %>
  <%= render "email_added_content" %>
  <%= render "drive_around_safe" %>
</div>
